html, body {
    background-color: #F9F8F3;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

h1 {
    font: 100% Bitter;
    display: block;
    font-size: 3em;
    font-weight: bold;
    color: #1D3525;
}

h2 {
    font: 100% Bitter;
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #7E4913;
}

p {
    font: 100% Montserrat;
    margin-left: 2em;
    margin-right: 2em;
}

a {
    text-decoration-color: grey;
  }
  a:link {
    color: #777777;
  }
  a:hover {
    color: #2d8653;
  }