html, body {
    background-color: #f9f8f3;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font: 100% Bitter;
    display: block;
    font-size: 3em;
    font-weight: bold;
    color: #1D3525;
}

h2 {
    font: 100% Bitter;
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #7E4913;
}

h3 {
    font: 100% Bitter;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    color: #515257;
    font-style: italic;
    margin-left: 1.5em;
    margin-right: 2em;
}

p {
    margin-left: 2em;
    margin-right: 2em;
}

a {
    text-decoration-color: grey;
  }
  a:link {
    color: #777777;
  }
  a:hover {
    color: #2d8653;
  }

  ol, ul {
    margin-left: 1.5em;
    margin-right: 2em;
  }